
.header{
 background-color: rgb(236, 171, 85);
 height: 70px;
 position: relative;
 padding: 10px 5px;
}

.logo_text{
  font-size: 25px;
  color:rgb(238, 233, 230);
  font-weight: bold;
  text-transform: capitalize;
}

.heading{
    padding: 15px 5px;
  position: absolute;
  top: 0;
  left: 30%;

}